body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    min-height: 90vh;
    user-select: none;
}

  .hero-img {
    position: absolute;
    top: 0;
    left: unset;
    right: 0;
    background: url(../img/hero-img.png);
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: brightness(50%);
  }
  

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
 }

.logo{
    float: right;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

span{
    color: rgb(170, 18, 18);
}

.logoimg {
    padding-top: 20px;
    width: 3rem;
    height: 3rem;
  }

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover{
    color: rgb(204, 0, 0);
    transition: .3s;
}