body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    min-height: 90vh;
    user-select: none;
    background: url(../img/hero-img.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
 }

.logo{
    float: right;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

span{
    color: rgb(170, 18, 18);
}

.logoimg {
    padding-top: 20px;
    width: 3rem;
    height: 3rem;
  }

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover{
    color: rgb(204, 0, 0);
    transition: .3s;
}

.sign{
    font-size: 1.4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 0.125em solid #000000;
    border-radius: 0.25em;
    color: rgb(0, 0, 0);
    background-color: transparent;
}
